:root {
    --ss-bg-color: var(--vscode-input-background);
    --ss-font-color: var(--vscode-input-foreground);
    --ss-border-color: var(--vscode-input-border, transparent);
    --ss-spacing-l: 7px;
    --ss-spacing-m: 5px;
    --ss-spacing-s: 3px;
    --ss-error-color: #dc3545;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

details {
    border: 1px solid var(--ss-border-color);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: var(--ss-spacing-m) var(--ss-spacing-m);
    background-color: var(--ss-bg-color);
    color: var(--ss-font-color);
}

summary {
    cursor: pointer;
    font-size: 12px;
    text-overflow: ellipsis;
    color: var(--vscode-input-foreground);
    padding: 0 var(--ss-spacing-m);
}
summary.normal::marker {
    color: var(--vscode-input-foreground);
}
summary.conflict::marker {
    color: var(--ss-error-color);
}




